# .gitignore
cache/
__pycache__/
phrase_chooser/
artifacts/phrase_generation/
artifacts/phrase_refinement/
artifacts/phrase_selection/
artifacts/motif_refinement/
artifacts/autoregressive_transformer/
artifacts/cp_transformer/
artifacts/phrase_similarity/
artifacts/fusion/
data/Mono_Midi_Files/
data/extracted_phrases/
data/annotations/
lightning_logs/
notebooks/
output/
artifacts.zip
data.zip
*.pyc
*.pth